body {
    margin: 0;
    font-family: 'Segoe UI';
    background: #0f172a;
    color: white;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #020617;
    height: 100vh;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover, .active {
    background: #1e293b;
}

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: space-between;
}

/* STATS */
.stats {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.open { background: #78350f; }
.done { background: #064e3b; }

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.item {
    position: relative;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.item:hover img {
    transform: scale(1.05);
}

/* INFO */
.info {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* SEVERITY COLORS */
.sev.low { color: #22c55e; }
.sev.medium { color: #f59e0b; }
.sev.high { color: #ef4444; }

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal img {
    max-width: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}